<div class="login-register" style="background-image:url(assets/images/profile_bg.jpg);">
  <div class="row">
    <div class="login-box card col-md-3">
      <div class="card-body">
        <form class="form-horizontal form-material" id="loginform">
          <h3 class="box-title m-b-20 text-center">Profile Information</h3>
          <div class="form-group">
            <div class="col-xs-12">
              <input class="form-control" required="" name="first_name"  type="text" placeholder="First Name">
            </div>
          </div>
          <div class="form-group ">
            <div class="col-xs-12">
              <input class="form-control" required="" name="last_name"  type="text" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input class="form-control" required="" name="birthdate" type="date">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input class="form-control" required="" name="age" type="text" placeholder="Age">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input class="form-gender" required="" name="gender" type="radio" checked="">Male <br>
              <input class="form-gender2" required="" name="gender" type="radio">Female <br>
              <input class="form-gender3" required="" name="gender" type="radio">Other <br>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input class="form-control" required="" name="height" type="text" placeholder="Height">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input class="form-control" required="" name="weight" type="text" placeholder="Weight">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <select name="lifestyle_type" class="form-control">
                <option value="active">Active</option>
                <option value="semi-active">Semi-Active</option>
                <option value="sedentary">Sedentary</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <select name="workout_aim" class="form-control">
                <option value="fit">Fit</option>
                <option value="lean">Lean</option>
                <option value="ripped">Ripped</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12 container">
              <a class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light">Submit</a>
            </div>
          </div>
        </form>
      </div>
    </div>  
  </div>
</div>



