<div class="wrapper">
    <div class="sidebar" data-color="red">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-panel">
        <!-- <app-navbar></app-navbar> -->
        <router-outlet></router-outlet>
        <app-footer></app-footer>
        <div style="padding: 10px">
            <h1>Homepage Content Here</h1>
            <div style="padding: 20px">
                <div class="row text-center charts">
                    Weight Chart will be here
                </div>
            </div>
        </div>
        
    </div>
</div>
